/* Подвал */
#footer {
  background-color: var(--footer-bg);
  border-radius: 30px;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  width: auto;
  transition: var(--tran-03);
  user-select: none
}

#footer:hover{
  background-color: var(--footer-bg-h);
}