::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: var(--blue-color);
	border-radius: 12px;
	transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: #0b3cc1;
}