/* 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

:root{
	/* ===== Colors ===== */
	--blue-color: #0E4BF1;
	--bg-color: #FFF;
	--text-color: #000;
	--black-light-color: #5f5f5f;
	--border-color: #e6e5e5;
	--toggle-color: #DDD;
	--box1-color: #f8f6f6;
	--box2-color: #2a50f7;
	--box3-color: #ff0000;
	--title-icon-color: #fff;
	--panel-color: #FFF;
	--panel-color-nav: rgba(255, 255, 255, 0.300);

	--color-login: rgb(8, 7, 16);
	--color-black: rgb(0, 0, 0);
	--color-white: rgb(255, 255, 255);
	--word-1: linear-gradient(to right, rgb(47, 165, 0), rgb(25, 56, 0));
	--footer-bg: rgba(0, 0, 0, 0.040);
	--footer-bg-h: rgba(0, 0, 0, 0.30);
	--moon: #f4953b;
	--glare: #ffffff00;
	--moon-shadow: rgba(255, 166, 0, 0.05);
	--moon-shadow2: rgba(255, 166, 0, 0.05);

	/* ====== Transition ====== */
	--tran-05: all 0.5s ease;
	--tran-03: all 0.3s ease;
	--tran-02: all 0.2s ease;
}

/* darkStyle */
.dark{
	/* ===== Colors ===== */
	--primary-color: #3A3B3C;
	--panel-color: #242526;
	--text-color: #CCC;
	--black-light-color: #CCC;
	--border-color: #4D4C4C;
	--toggle-color: #FFF;
	--box1-color: #3A3B3C;
	--box2-color: #3A3B3C;
	--box3-color: #3A3B3C;
	--title-icon-color: #CCC;
	--panel-color-nav: rgba(36, 37, 38, 0.500);
	--blue-color: #3A3B3C;

	--color-login: rgb(8, 7, 16);
	--color-black: rgb(255, 255, 255);
	--color-white: rgb(0, 0, 0);
	--bg-color: #000;
	/* footer */
	--footer-bg: rgba(0, 0, 0, 0.04);
	--footer-bg-h: rgba(0, 0, 0, 0.3);
	/* moon */
	--moon: #f5f5f5;
	--glare: #e6e6e6;
	--moon-shadow: rgba(255, 255, 255, 0.05);
	--moon-shadow2: rgba(226, 233, 255, 0.151);
}
/* background-color: var(--panel-color) */